     .press-logo .container-wrapper .navbar .logo-first {
           color : blue ;
         }

     .container .sidebar { /* (index.html 제외) sidebar로 인해 wrapper 사용 */
      text-align : right ;
      margin : 0 0 ;
      padding-right : 20% ;
      padding-bottom : 1% ;
      color : blue ;
      /* position : absolute ;
      top : 10% ;
      right : 20% ;  
      text wrapper에 relative 쓰고 이렇게 하면, 문서 흐름에서 제외되어 스크롤 시 navbar 위로 겹치는 문제  
      -> navbar에 넣고 자체 위치 조정 */
    }
     
     .press {
      display : grid ;
      grid-template-columns : 1fr 1fr ; /* 그리드를 첫, 두번째 요소가 균등 분배 */ 
      padding : 0 20% ; /* 페이지별 로고 색상으로 인해 .press의 padding 변경 */
      gap : 5% ;
    }
    .img-wrapper { /* img의 패딩 말고, img의 칸 전체에 배경색 or 다른 기능(가운데, 상단 정렬, 캡션, 버튼)을 적용할 수 있음 */
      background: #87CEEB;
      text-align : center ; /* flex 쓸 필요 없이(여러요소, 교차축 필요시 사용) oR index.html처럼 block 요소로 하고 margin 0 auto ; */
      /* justify-content: center;  가로 중앙 정렬(flex일 경우) 
      align-items: flex-start; 세로는 상단 고정 (grid일 경우 : start) */
      padding-top: 7% ;
    }
    .img-wrapper img {
      width : 80% ; /* grid의 첫번째 요소 너비의 80% 사용 */
      /* z-index : 1 ; img-wrapper보다 항상 위에서 노출 */
      /* padding : 5% ;  %로 해야 반응형 
      background: #87CEEB -> wrapper 대용 */
    }
    .img-wrapper .caption {
        margin-top : 10px ;
        font-size : 1rem ;
        font-style : italic ;
    }
      
    .press .text-wrapper { /* text-wrapper의 위치 문제 : h1, h2를 포함 안시키면 text wrapper까지 이것들 전부를 grid로 인식
        h1, h2 포함시키면 H1, H2, main이 전부다 .press grid의 오른쪽 칸에 구겨들어감 */
      background : #ADD8E6 ;
      padding : 30px ;
      display : grid ;
      grid-template-rows : auto 1fr ; /* exclude, main만 존재하므로(고정시킬거, 본문) 세로 정렬. 본문은 고정시킬거가 다 들어간 후 남는자리에 들어가게 */
      color : blue ;
    }  
    .text-wrapper .exclude h2 {
      border-bottom : solid blue 3px ;
    }
    .text-wrapper .exclude .exclude-wrapper {
      display : grid ;
      grid-template-columns : auto 1fr ;
      margin : 7% 0 ;
      gap : 10% ;
      font-size : smaller ;
    }
    .text-wrapper .exclude .exclude-wrapper a {
      color : blue ;
    }
        
    .main {
      display : grid;
      grid-template-columns : 20% 1fr ;
      gap : 10% ;
      justify-self : center ;
      color : blue ;
    }
    hr {
      border : none ;
      border-top : 1px solid blue ;
      margin : 1em 0;
    }
    .main h3{
      justify-self : center ;
    }
    .main-wrapper .subject {
      font-size : large ;      
    }
    .main-wrapper .description {
      font-size : small ;
      color : inherit ; /* 부모(.main) 색상(blue) 상속 */
    }  
    .main-wrapper .info {
      font-size : small ;
      color : black ;
    }
  
