    .exhibitions-logo .container-wrapper .navbar .logo-first {
      color : #EC9F53 ;
    }
  
    .container .sidebar { /* (index.html 제외) sidebar로 인해 wrapper 사용 */
      text-align : right ;
      margin : 0 0 ;
      padding-right : 20% ;
      color : #EC9F53 ;
      /* position : absolute ;
      top : 10% ;
      right : 20% ;  
      text wrapper에 relative 쓰고 이렇게 하면, 문서 흐름에서 제외되어 스크롤 시 navbar 위로 겹치는 문제  
      -> navbar에 넣고 자체 위치 조정 */
    }
    .container .sidebar a { /* sidebar 내의 a 태그들이 원래 인라인 스타일 없으면 부모 상속, but 브라우저 기본 스타일에 의해
        상속이 무시될 수 있으니 명시! like container.css 의 a 태그 */
        color : inherit ;
        text-decoration : none ;
    }

    .exhibitions {
      display : grid ;
      grid-template-rows : 1fr 1fr 1fr ; /* 그리드를 첫, 두번째 요소가 균등 분배 */ 
      padding : 1% 20% ; /* 페이지별 로고 색상으로 인해 .press의 padding 변경 */
      gap : 10% ;
    }

    .wrapper {
      display : grid ;
      grid-template-columns : 1fr 1fr ;
    }

    .img-wrapper img {
      width : 80% ; /* grid의 첫번째 요소 너비의 80% 사용 */
      /* z-index : 1 ; img-wrapper보다 항상 위에서 노출 */
      /* padding : 5% ;  %로 해야 반응형 
      background: #87CEEB -> wrapper 대용 */
    }
    .img-wrapper .caption {
        margin-top : 10px ;
        font-size : small ; 
        text-align : center ;
    }

    .text-wrapper {
        align-self : center ;
        font-size : small ;
        padding-bottom : 20% ;
    }
 
  
