    .exhibitions-logo .container-wrapper .navbar .logo-first {
      color : #EC9F53 ;
    }
  
    .container .sidebar-first { /* (index.html 제외) sidebar로 인해 wrapper 사용. exhibitions, resources만 sidebar first, second로 나뉨 */
      text-align : right ;
      margin : 0 0 ;
      padding-right : 20% ;
      padding-bottom : 1% ;
      color : #EC9F53 ;
      font-weight : lighter ;
      /* position : absolute ;
      top : 10% ;
      right : 20% ;  
      text wrapper에 relative 쓰고 이렇게 하면, 문서 흐름에서 제외되어 스크롤 시 navbar 위로 겹치는 문제  
      -> navbar에 넣고 자체 위치 조정 */
    }
    .container .sidebar-second { /* (index.html 제외) sidebar로 인해 wrapper 사용 */
      text-align : right ;
      margin : 0 0 ;
      padding-right : 20% ;
      padding-bottom : 1% ;
      color : #EC9F53 ;
      font-weight : lighter ;
      border-bottom : 1px solid #f0f0f0 ;
      margin-bottom : 1% ;
      /* position : absolute ;
      top : 10% ;
      right : 20% ;  
      text wrapper에 relative 쓰고 이렇게 하면, 문서 흐름에서 제외되어 스크롤 시 navbar 위로 겹치는 문제  
      -> navbar에 넣고 자체 위치 조정 */
    }
  
    .container .sidebar a { /* sidebar 원래 색 주황, 근데 검정으로 기본 지정. hover 시 부모 상속되도록 */
        color : black ;
    }
    .container .sidebar a:hover {
        color : inherit ;
        font-weight : bold ;
    }

    .exhibitions {
      display : grid ;
      grid-auto-rows : auto ; /* grid template rows 1fr 1fr 1fr를 하면 모든 row가 3분의 1이라는 같은 비율로 짤림.
        세번째 wrapper가 더 길면 공간 차지 못하고 짤리므로, auto로 하면 내용에 맞게 늘어나고, wrapper 개수에 따라 동적으로 행 생성됨 */ 
      padding : 1% 20% ; /* 페이지별 로고 색상으로 인해 .press의 padding 변경 */
      gap : 5% ;
      background : #f0f0f0 ;
    }

    .wrapper {
      display : grid ;
      grid-template-columns : 1fr 1fr ;
      align-items : center ; /* .text-wrapper에서 align-self하면 사진 비율이 가로 나오다가 세로 나올 때, 텍스트가 중앙이더라도 시각적으로 비율이 안맞아보임
          만약 이미지 중앙에 안맞추고 항상 위쪽 정렬 원한다면 align-items : start ; */
    }

    .img-wrapper img {
      width : 80% ; /* grid의 첫번째 요소 너비의 80% 사용 */
      /* z-index : 1 ; img-wrapper보다 항상 위에서 노출 */
      /* padding : 5% ;  %로 해야 반응형 
      background: #87CEEB -> wrapper 대용 */
    }
    .img-wrapper .caption {
        font-size : small ; 
        text-align : center ;
    }

    .text-wrapper {
        font-size : small ;
    }
    .text-wrapper .description {
        color : #EC9F53 ; /* 여기서는 inherit 하면 text-wrapper나 그 부모의 색인 검정색 상속 */
    }  
  
