    .exhibitions-logo .container-wrapper .navbar .logo-first {
      color : #EC9F53 ;
    }
  
    .container .sidebar { /* (index.html 제외) sidebar로 인해 wrapper 사용 */
      text-align : right ;
      margin : 0 0 ;
      padding-right : 20% ;
      color : #EC9F53 ;
      /* position : absolute ;
      top : 10% ;
      right : 20% ;  
      text wrapper에 relative 쓰고 이렇게 하면, 문서 흐름에서 제외되어 스크롤 시 navbar 위로 겹치는 문제  
      -> navbar에 넣고 자체 위치 조정 */
    }
    .container .sidebar a { /* sidebar 원래 색 주황, 근데 검정으로 기본 지정. hover 시 부모 상속되도록 */
        color : black ;
    }
    .container .sidebar a:hover {
        color : inherit ;
    }

    .exhibitions {
      display : grid ;
      grid-template-rows : 1fr 1fr 1fr ; /* 그리드를 첫, 두번째 요소가 균등 분배 */ 
      padding : 1% 20% ; /* 페이지별 로고 색상으로 인해 .press의 padding 변경 */
      gap : 5% ;
    }

    .wrapper {
      display : grid ;
      grid-template-columns : 1fr 1fr ;
    }

    .img-wrapper img {
      width : 80% ; /* grid의 첫번째 요소 너비의 80% 사용 */
      /* z-index : 1 ; img-wrapper보다 항상 위에서 노출 */
      /* padding : 5% ;  %로 해야 반응형 
      background: #87CEEB -> wrapper 대용 */
    }
    .img-wrapper .caption {
        margin-top : 10px ;
        font-size : small ; 
        text-align : center ;
    }

    .text-wrapper {
        align-self : center ;
        font-size : small ;
        padding-bottom : 10% ;
    }
    .text-wrapper .description {
        color : #EC9F53 ; /* 여기서는 inherit 하면 text-wrapper나 그 부모의 색인 검정색 상속 */
    }  
  
