    .columns-logo .container-wrapper .navbar .logo-first {
      color : green ;
    }
  
    .container .sidebar { /* (index.html 제외) sidebar로 인해 wrapper 사용. exhibitions, resources만 sidebar first, second로 나뉨 */
      text-align : right ;
      margin : 0 0 ;
      padding-right : 20% ;
      padding-bottom : 1% ;
      color : green ;
      font-weight : lighter ;
      /* position : absolute ;
      top : 10% ;
      right : 20% ;  
      text wrapper에 relative 쓰고 이렇게 하면, 문서 흐름에서 제외되어 스크롤 시 navbar 위로 겹치는 문제  
      -> navbar에 넣고 자체 위치 조정 */
    }

    .wrapper {
      display : grid ;
      grid-template-columns : 1fr 1fr ;
      align-items : strech ; /* .text-wrapper에서 align-self하면 사진 비율이 가로 나오다가 세로 나올 때, 텍스트가 중앙이더라도 시각적으로 비율이 안맞아보임
          만약 이미지 중앙에 안맞추고 항상 위쪽 정렬 원한다면 align-items : start ; . img-wrapper 사이즈가 더 커서, text-wrapper가 자동 중앙 정렬되는데, 배경의 
        길이를 맞추고 싶으면 strech로 두 wrapper의 높이 동일하게! */
      padding : 0 20% ;
      gap : 15px ;
    }

    .img-wrapper {
       background: #80BC00 ;
       padding-top: 7% ;

    }
    .img-wrapper img {
      width : 80% ; /* grid의 첫번째 요소 너비의 80% 사용 */
      /* z-index : 1 ; img-wrapper보다 항상 위에서 노출 */
      /* padding : 5% ;  %로 해야 반응형 */ 
    }
    .img-wrapper .caption {
        font-size : small ; 
        text-align : center ;
    }

    .text-wrapper {
        font-size : small ;
        background : #DCDCDC ;
        padding : 10% ;
    }

    #index-hr {
      border : none ;
      border-top : 10px solid green ; 
      width : 80% ;
      max-width : 1100px ; 
      margin-top : 60px ; /* border 자체가 padding을 덮는 box이므로 margin 써야함 */
      margin-left : auto ;
      margin-right : auto ;
      margin-bottom : 0 ;
    }
